@model WebEnterprise.ViewModels.Contribution.DetailContribution
@using GleamTech.AspNet.Core
@using GleamTech.DocumentUltimate
@using GleamTech.DocumentUltimate.AspNet
@using GleamTech.DocumentUltimate.AspNet.UI
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Index";
    Layout = "_DetailLayout";
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var session = HttpContextAccessor.HttpContext.Session;
    var userId = session.GetString("UserId");
}

@{
    var documentViewer = new DocumentViewer
            {
                Width = 900,
                Height = 700,
                Document = ViewBag.DocumentUrl,
            };
}

<style>
    .modal-dialog {
        max-width: 500px;
    }
</style>


<div class="row">

    <div class="col-lg-9">
        <div class="detail-area">
            <h1 class="title-contribute"></h1>
            <div class="flex-column">
                <a class="megazine-link" href="#">Megazine: @Model.MegazineName</a>
                <a class="megazine-link" href="#">Faculty:@Model.FacultyName</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="detail-area">
            <p class="time-title">Uploaded On @Model.EndSemesterDate</p>
            <div class="profile-area">
                <div class="avatar">
                    <img class="avatar" src="~/images/answer.png" alt="answer">
                </div>
                <div class="info">
                    <span class="info">@Model.FullName</span>
                    <div class="small-info">@Model.numberContribution contributions</div>
                </div>
            </div>
        </div>

        @*Modal popup*@
        <div class="mt-3">
            @{
                if (Model.UserId == userId)
                {
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Upload Image
                    </button>
                }
                <div class="text-danger">@TempData["NotificationMessage"]</div>
            }
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Modal Title</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">X</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("UploadImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-group">
                                    <input type="file" name="FilePaths" class="form-control" accept=".jpg, .jpeg, .png" multiple required />
                                    @Html.ValidationMessageFor(model => model.CreateImage.FilePaths, "", new { @class = "text-danger" })
                                </div>
                                <input type="hidden" name="ContributionId" value="@Model.Id">
                                <input type="hidden" name="EndSemesterDate" value="@Model.EndSemesterDate" />

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-lg-9">
        <div class="content2">
            <div class="wrapper">
                @*<div class="page">@Model.FilePath</div>*@
                @this.RenderHead(documentViewer)
                @this.RenderBody(documentViewer)
            </div>
        </div>

        <div class="bg-color-page">
            <div class="container">
                <div class="col-md-12">
                    <div class="panel">
                        <form class="panel-body" asp-action="Create" asp-controller="Comment" method="post">
                            <textarea class="form-control" rows="2" placeholder="Give a comment now !!!" asp-for="CreateComment.CommentText"></textarea>
                            <span asp-validation-for="CreateComment.CommentText" class="text-danger"></span>
                            <input type="hidden" asp-for="CreateComment.StudentId" value="@Model.UserId" />
                            <input type="hidden" asp-for="CreateComment.ContributionId" value="@Model.Id" />
                            <input type="hidden" asp-for="CreateComment.FacultyId" value="@Model.FacultyId" />
                            <div class="mar-top clearfix">
                                <button class="btn btn-sm btn-primary mt-4 pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Upload</button>
                            </div>
                        </form>
                    </div>
                   
                </div>
            </div>
        </div>

        @if(Model.Comment != null){
            <div class="bg-color-page mt-4">
                <div class="panel">
                    <div class="panel-body">
                        <div class="media-block">
                            <p class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="~/images/face/admin.png"></p>
                            <div class="media-body">
                                <div class="mar-btm">
                                    <h5 class="text-semibold media-heading box-inline">@Model.FacultyUserName</h5>
                                    <p class="text-muted text-sm pb-2"><i class="fa-solid fa-clock"></i> - @Model.CreatedCommentDate.ToShortDateString()</p>
                                </div>
                                <p> @Model.Comment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-lg-3">
        @if (ViewBag.ImagePaths != null)
        {
            <div class="list-image">
                <div class=" d-flex flex-column gap-2 mt-1 image-area">
                    @foreach (var image in ViewBag.ImagePaths)
                    {
                        <div class="center-image">
                            <a href="@image" data-fancybox="gallery" target="_blank">
                                <img src="@image" width="250px" alt="image" />
                            </a>

                        </div>
                    }
                </div>
            </div>
        }
    </div>


</div>


<script>
    $(document).ready(function () {
        Fancybox.bind('[data-fancybox="gallery"]', {
            // Options
        });

        $("#submitBtn").click(function () {
            $("#myModal").modal('hide');
        });
    });
</script>
